{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}

{% block content %}

    <table>
        <thead>
        <tr>
            <th align="left">username</th>
            <th align="left">full name</th>
        </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr height="30">
                <td width="200"><a href="/admin/user/{{ u.username }}">{{ u.username }}</a></td>
                <td width="200">{{ u.full_name }}</td>
                <td><a href="/admin/delete-confirm/{{ u.username }}">Delete User</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <br>
    <a href="/admin/add-user">Add user</a>

{% endblock %}