<!doctype html>
<head>
    {% block styles %}
    
    {% endblock %}
</head>
<title>{% block title %}{% endblock %}</title>
<nav>
    <h1>Python Image Gallery</h1>
</nav>
<section class="content"> 
    <header>
        {% block header %}{% endblock %}
        {% if session['username'] %}
            Hi, {{ session['username'] }}<br>
            <a href="/logout">Logout</a>
        {% endif %}
    </header>
    <br><br>
    {% for message in get_flashed_messages() %}
        <div class="flash" style="border: solid 5px purple; ">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
