{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
    Username: {{ user[0] }} <br>
    Password: {{ user[1] }} <br>
    Full Name: {{ user[2] }} <br>
    <form method="POST">
{#        <p>#}
{#            <label for="first">Username</label>#}
{#            <input id="username" value="{{ user[0] }}" name="username" type="text" required>#}
{#        </p>#}
        <p>
            <label for="last">Password</label>
            <input id="password" name="password" type="text" required>
        </p>
        <p>
            <label for="last">Full Name</label>
            <input id="full_name" name="full_name" type="text" required>
        </p>
        <input type="submit" value="Modify User">
    </form>

    <br><br>

    <a href="/admin/delete-confirm/{{ user[0] }}">Delete User</a>

    <br><br>
    <a href="/admin">Back</a>


{% endblock %}